#desktop {
	display: none;
}


div {
	text-align: center;
}

#headline {
	margin-left: -40%;
}

#band-picture{
	max-width: 80%;
	margin-bottom: 10px
}

#mobile-bio {
	text-align: left;
	max-width: 90%;
	margin: auto;
}

iframe {
	max-width: 100%;
}