
/***********DESKTOP************/
body{
	/*background:#fff;*/
	background:url('../bg.jpg');
;}


#desktop {
	display: none;
}



#aaron
{
	
	float:right;
	width:23.5em;
	height:auto;
}
#gabe
{

	float:left;
	width:23.5em;
	margin:0px;
	padding:0px;
}


h1{margin:0;}


/*******MOBILE********/

div {
	text-align: center;
}

#headline {
	text-align: left;
	border-bottom: 1px solid black;
	padding: 21.440px 0 21.440px 20px;
	margin-bottom: 0;
}

#band-picture{
	max-width: 80%;
	margin: 20px 0;
}

#mobile-bio {
	text-align: left;
	max-width: 90%;
	margin: auto;
}

iframe {
	max-width: 100%;
}

footer {
	border-top: 1px solid black;
	padding-top: 10px;
}

#footer1 {
	float: left;
}

#footer2 {
	float: right;
}

#fb-icon {
	max-width: 76px;
}

#bandcamp-icon {
	max-width: 80px;
}

