@media screen AND (max-width: 930px){

	html{

		background:none;
	}
	#desktop{
		display:none;
	}
}

@media screen AND (min-width: 930px) {
	


	#mobile {
		display: none;
	}

	#desktop {
		display: inline;
	}
}

